* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: sans-serif;
	background-color: #f0f0f0;
	font-weight: 500;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
[class*="column-"] {
	padding-left: 15px;
	padding-right: 15px;
	min-width: 1px;
	max-width: 100%;
}
.column-2 {
	flex: 0 0 50%;
}
.column-3 {
	flex: 0 0 33.33%;
}

header {
	background: url('../img/header-bg.jpg') no-repeat center;
	height: 500px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
.portfolio-item {
	margin: .5rem 0;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
	border: 4px solid transparent;
}
.portfolio-item img {
	display: block;
	border: 4px solid #dbdbdb;
	width: 100%;
	height: auto;
}

.heading {
	font-size: 3rem;
	line-height: 1.5;
	text-align: center;
	margin: 3rem 0;
}

.btn {
	display: inline-block;
	height: 38px;
	background-color: darkblue;
	color: white;
	padding: 0 30px;
	letter-spacing: 0.1rem;
	cursor: pointer;
	text-decoration: none;
	line-height: 38px;
}
.text-center {
	text-align: center;
}
label {
	display: inline-block;
	margin-bottom: 10px;
}
input, textarea {
	height: 38px;
	width: 100%;
	padding: 6px 10px;

}
textarea {
	min-height: 145px;
}
